
h1 {
    text-align: center;
    margin: 10px;
    background-color: #2eB572;
    border-radius: 5px;
}

img {
    width: 250px;
    height: 400px;
}

article {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card-body, h5, p {
    color: #000;;
}

.section-2 {
    background-color: #fff;
    border-radius: 5px;
}

/* POLITICA INTERNACIONAL */
.post {
    background-color: #fff;
    border-radius: 0.5rem;
}